

<!-- Start Login Page -->
<section  fxLayoutAlign="center center">
  <mat-card fxLayout="column"  fxFlex="400px" fxFlex.xs="100%">
    <!-- Login Form -->
    <form [formGroup]="emailFormControl" (ngSubmit)="save()">
      <div class="example-container" fxLayout="column">
        <h2 style="font-weight: 100; text-align: center;">Please Login In</h2>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="text" matInput placeholder="Password" formControlName="password">
          <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>

        <div fxLayoutAlign="center center">
          <button  type="submit" mat-raised-button [disabled]="!emailFormControl.valid" color="accent">LOGIN</button>
        </div>
      </div>
    </form>
    <!-- Login Form -->
  </mat-card>
  </section>
  <!-- Emd Login Page -->
